@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply flex text-lg w-full border outline-1 focus:outline bg-secondary-100 dark:bg-secondary-800  outline-slate-800 dark:outline-slate-200 text-slate-800 dark:text-slate-100 py-1 px-2 duration-500 ease-in-out;
  }
  .btn-icon {
    @apply rounded-full p-[0.4rem] hover:bg-secondary-400/50;
  }
  .btn {
    @apply flex flex-nowrap justify-center items-center bg-secondary-100 hover:bg-secondary-900 text-slate-900 hover:text-slate-100 dark:bg-secondary-900 dark:hover:bg-secondary-100 dark:text-slate-50 dark:hover:text-slate-900 border border-slate-800 dark:border-slate-200  font-bold duration-300 ease-in-out;
  }
  .btn-primary {
    @apply flex flex-nowrap bg-primary-500 dark:bg-primary-700 hover:bg-primary-700 dark:hover:bg-primary-800 text-slate-100 justify-center items-center font-bold duration-300 ease-in-out;
  }
  .link-text{
    @apply text-blue-500 hover:text-blue-700 dark:hover:text-blue-700;
  }
  .checkbox{
    @apply p-4
  }
}
/* 
* {
  transition: background-color 300ms ease-in-out;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
